@use "../../styles/_variables.scss" as *;

.container {
  display: flex;
  align-items: center;
  background-color: $sandy-stone-beach-ocean-diver-2-hex;
  padding: 12px;
}

.timer {
  position: relative;
  font-size: 32px;
  width: 60px;
  height: 60px;

  .value {
    position: absolute;
    color: $blue;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 3px solid $terminal-green;
  }
}

.title {
  flex-grow: 1;
}
