@use "../../styles/variables" as *;

.container {
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: center;
}

.name {
  text-transform: capitalize;
  margin: 0 8px;
}

.swatch {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 3px;

  &::before {
    content: '';
    // background-color: $toyota-red;
    border: 4px solid $sandy-stone-beach-ocean-diver-2-rgba;
    border-radius: 50%;
    display: inline-block;
    width: 80%;
    height: 80%;
  }

  &--correct::before {
    content: '';
    background-color: $blue;
    border-radius: 50%;
    display: inline-block;
    width: 80%;
    height: 80%;
  }
}

.removeButton {
  background-color: aqua;
  border: none;
  border-radius: 32px;
  padding: 8px;
}
