.container {
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: center;
}

.name {
  text-transform: capitalize;
  margin: 0 8px;
}

.removeButton {
  background-color: aqua;
  border: none;
  border-radius: 32px;
  padding: 8px;
}
