@use "styles/_variables.scss" as *;

body {
  font-family: 'Audiowide', cursive;
}

.container {
  background-color: $sandy-stone-beach-ocean-diver-2-hex;
  color: $terminal-green;
  padding: 18px;
  text-align: center;
}

.button {
  background: none;
  border: 2px solid $toyota-red;
  border-radius: 8px;
  color: $toyota-red;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 6px;
}
