@use "styles/_variables.scss" as *;

body {
  background-color: $sandy-stone-beach-ocean-diver-1-hex;
  font-family: 'Audiowide', cursive;
}

.container {
  color: $terminal-green;
  padding: 18px;
  text-align: center;
  height: 100vh;

  ol {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;

    li {
      align-self: auto;
      margin: 8px 0;
      width: 280px;
    }
  }
}

.button {
  background: none;
  border: 2px solid $toyota-red;
  border-radius: 8px;
  color: $toyota-red;
  cursor: pointer;
  display: inline;
  font-size: 26px;
  font-weight: 700;
  padding: 6px;

  &Selected {
    color: $sandy-stone-beach-ocean-diver-3-hex;
  }
}

.answerButton {
  @extend .button;
  border: 2px solid $sandy-stone-beach-ocean-diver-4-hex;
  color: $sandy-stone-beach-ocean-diver-4-hex;
  width: 100%;

  &Correct {
    animation: flash 0.3s 3;
    color: $toyota-red;
  }

  &PlayerCorrect {
    animation: flash 0.3s 3;
    color: $terminal-green;
  }
}

.status {
  font-size: 22px;
}

.winners {
  animation: flash 1s 5;
  list-style-type: none;

  li {
    font-size: 32px;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
